body{
    font-family: 'Montserrat', sans-serif;
}
.btn-social:link, .btn-social:visited{
    padding: 0.8rem 8rem;
    border-radius: 150px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
}

.spotify-text{
    font-weight: 700;
}
.socials .facebook:link, .facebook:visited{
    background-color: rgb(59, 89, 152) ;
    color: rgb(248, 248, 248);
}

.socials .apple:link, .apple:visited{
    background-color: rgba(0, 0, 0, 0.9) ;
    color: rgb(248, 248, 248);
}

.google:link, .google:visited{
    border: 1px solid #6a6a6a;
    color: #6a6a6a;
}

.line1{
    min-width: 15rem;
    border-bottom: 1px solid rgb(217, 218, 220);
}
.forms{
    min-width: 43%;
}

.forgot-password{
    color: black;
    text-decoration: none;
}
input[type="checkbox"]:checked{
    border-color: rgb(22, 155, 69);
  background-color:rgb(22, 155, 69);
}

.btn-success{
    background-color:rgb(22, 155, 69);
    padding: 0.5rem 2rem;
    border-radius: 150px;
    border-color:rgb(22, 155, 69);
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}

/* Home page */
#main-body{
    background: linear-gradient(90deg, rgba(13,82,138,1) 0%, rgba(1,8,36,1) 63%, rgba(46,52,148,1) 100%);

}
.main-container{
    display: grid;
    grid-template-columns: 1fr 3.8fr;
}
.main-album-container{
    display: grid;
    grid-template-columns: 0.5fr 4fr;
}
.left-nav{
    min-height: 80vh;
    max-width: 30vh;
    background-color: rgb(7, 12, 17);
}
.spotify-logo-white{
    height: 7.5rem;
    width: 13.5rem;
    padding: 2rem;
}
.menus{
    padding-left: 2rem;
    gap: 1.5rem;
}
.menu-item:link, .menu-item:visited{
    text-decoration: none;
    color: rgb(201, 204, 207);
    font-size: 1rem;
    width: fit-content;
    transition: all 0.3s;
}
.menu-item:hover, .menu-item:active{
   color: #fff;
   font-weight: bold;
   border-bottom: 2px solid rgb(22, 155, 69);

}
.btn-secondary{
       background-color: #fff;
       color: black;
       border-radius: 150px;
}
.btn-outline-secondary{
    color: #fff;
    border-radius: 150px;
}
.cookie p, .main-content .nav-link:link, .nav-link:visited{
    font-size: .7rem;
}

.main-content .nav-link:hover, .nav-link:active{
    border-bottom: 2px solid rgb(22, 155, 69);
}
.album-desc{
    font-size: .8rem;
}
.bg-black{
    min-height: 20vh;

}
.col-12{
    cursor: pointer;
}
/* End of Homepage */


/* Album Page */

#main-album-body{
    background: linear-gradient(90deg, rgba(255,4,4,1) 8%, rgba(93,32,15,1) 47%, rgba(29,29,29,1) 100%);
}

.jams-text{
    font-size: 6.8rem;
}


/* End of Album Page */
@media only screen and (max-width: 600px) {
    .btn-social:link, .btn-social:visited{
        padding: 0.4rem 2rem;
        border-radius: 150px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2px;
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }
    .btn-success{
        margin-left: 1rem;
    }
  }